@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#about {
  text-align: center;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */  color: white;
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

.barber-photo {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 1.2rem;
}
