@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

footer {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */  padding: 20px;
  text-align: center;
  color: white;
}

p {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
}
