@media (max-width: 768px) {
    
}

body {
    background-image: url('./assets/dark-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Arial', sans-serif;
}